<template>
  <div id="grid" class="container-fluid">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th v-for="key in columns">
              {{ key | format }}
              <span class="arrow"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in data">
            <td v-for="key in columns">
              {{ entry[key] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'grid',
  props: {
    data: Array,
    columns: Array
  },
  filters: {
    format: function (value) {
      if (!value) return ''
      value = value.toString().replace(/_/g, ' ')
      value = value.split(' ').map(function (word) {
        return word[0].toUpperCase() + word.substr(1)
      }).join(' ')
      return value
    }
  }
}
</script>

<style>

table {
    border: 2px solid #FE2F00;
    border-radius: 3px;
}

th {
    background-color: #FE2F00;
    color: #EEEEEE;
    //cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th, td {
    min-width: 120px;
    max-width: 120px;
    padding: 10px 20px;
}

th.active {
    // color: #fff;
}

th.active .arrow {
    opacity: 1;
}

thead {
    display: block;
}

tbody {
    display: block;
    overflow: auto;
    height: 90vh;
}

#grid {
    margin: 0;
    adding: 0;
    border-width: 1px;
    border-style: solid;
}

.table-responsive {
    position: fixed;
    height: 94vh;
    width: 100vw;
    overflow: auto;
}

/* this selector is specfic in order to override bootstraps priority */
#grid .table-responsive td {
    white-space: normal;
}

@media (min-device-width: 1024px) and (min-width: 820px) {
    .table-responsive {
        position: fixed;
        height: 100vh;
        width: 80vw;
        overflow: auto;
    }

    tbody {
        display: block;
        overflow: auto;
        height: 92vh;
    }
}

</style>
