<template>
  <div id="navbar">
    <nav-section
      v-bind:title="'CHARACTERS'"
      v-bind:items="characters"
      v-bind:itemClicked="characterClick"
      v-bind:key="1">
    </nav-section>
  </div>
</template>
 
<script>
import NavSection from './NavSection'

export default {
  name: 'navbar',
  data () {
    return {
      characterClick: function (item, index) {
        this.activeName = item.name
        this.activeIndex = index
        this.$store.dispatch('getFrames', item.id)
      }
    }
  },
  computed: {
    characters: function () {
      return this.$store.state.characters
    }
  },
  components: {
    NavSection
  }
}
</script>

<style>
#navbar {
    background-color: #0B0CD6;
    border-width: 3px;
    border-style: solid;
}
</style>
