<template>
  <div class="nav-section">
    <a v-on:click="toggleItems" href="#">
      {{ title }}
      <span v-if="visible" class="glyphicon glyphicon-triangle-top"> </span>
      <span v-if="!visible" class="glyphicon glyphicon-triangle-bottom"> </span>
      <span class="active-name" v-if="!visible">{{ activeName }}</span>
    </a>
    <li
      v-if="visible"
      v-for="(item, index) in items"
      v-bind:class="{ active: index === activeIndex }"
      @click="itemClicked(item, index)">
          {{ item.name }}
    </li>
  </div>
</template>

<script>
export default {
  name: 'nav-section',
  props: {
    title: String,
    items: Array,
    itemClicked: Function
  },
  data () {
    return {
      visible: true,
      activeIndex: -1,
      activeName: ''
    }
  },
  methods: {
    toggleItems: function () {
      this.visible = !this.visible
    }
  }
}
</script>

<style>
.nav-section a {
    color: #EEEEEE;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2;
    border-bottom: 2px solid #232323;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-section li {
    // background-color: #fa6262;
    padding-left: 30px;
    text-align: left;
    list-style: none;
    cursor: pointer;
    color: #EEEEEE;
    padding-top: 3px;
    line-height: 1.6;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.active {
    background-color: #5555f6;
}

</style>
