<template>
  <div id="app">
    <navbar id="navbar"></navbar>
    <grid
      id="grid"
      :data="gridData"
      :columns="gridColumns">
    </grid>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import Grid from './components/Grid'

export default {
  name: 'app',
  components: {
    Navbar,
    Grid
  },
  data () {
    return {
      gridColumns: ['name', 'command', 'startup', 'active', 'recovery', 'total', 'hit_advantage',
        'counter_hit_advantage', 'block_advantage', 'damage', 'cancellable', 'notes']
    }
  },
  computed: {
    gridData: function () {
      return this.$store.state.frames
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#grid {
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    left: 0%;
}

#navbar {
    margin-left: 0px;
    z-index: 1;
    top: 0;
    position: relative;
    width: 100%;
    overflow: auto;
}

.active-name {
    padding-left: 40px;
}

@media (min-device-width: 1024px) and (min-width: 820px) {
    #navbar {
        width: 20%;
        height: 100%;
        position: fixed;
    }
    #grid {
        left: 20%;
    }
    .active-name {
        padding-left: 0px;
    }
}
</style>
